.key {
  padding: 15px;
  min-width: 25px;
  height: 25px;
  background-color: rgb(140, 236, 204);
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid rgb(10, 163, 112);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-out;
  &:hover {
    box-shadow: 0px 10px 13px -7px #000000,
      5px 5px 15px 5px rgba(207, 255, 146, 0);
  }
  &:active {
    transform: translateY(3px);
    box-shadow: 0px 10px 13px -7px #000000,
      5px 5px 15px 5px rgba(207, 255, 146, 0);
  }
}

.space {
  min-width: 175px;
}
